/* navbar 관련 */
#hdUl { display : flex; list-style: none; border-bottom : 1px solid #555;}
#hdUl li { float: left; padding : 20px; cursor : pointer; }
a { text-decoration: none; color: black;  }
li:hover { background-color : rgba(0,0,0,0.7); }
li:hover a{ color: #fff; }
li:nth-last-of-type(1), li:nth-last-of-type(2) {margin-left : auto; margin-right: 20px; }
